* {
  box-sizing: border-box;
}

.indented {
  text-indent: 30px;
}

.black-box {
  background-color: black;
  color: white;
  padding: 1em;
  border-radius: 5px;
  margin: 1em 0;
  white-space: pre-wrap;
  line-height: 1.2;
}

.tag {
  display: inline-block;
  background-color: #333;
  color: white;
  padding: 2px 8px;
  border-radius: 4px;
  margin: 2px;
  font-size: 0.85em;
  text-decoration: underline;
}

.tag:hover {
  text-decoration: none;
}

p {
  text-indent: 30px;
}

h2 {
    text-align: center; /* Ensure the article title inside the <a> is centered */
}

.article-title {
    font-size: 25px;
    font-weight:bold;
}

body {
  font-family: 'Courier New', monospace;
  font-size: 18px;
  line-height: 1.6; /* Increase line height for better readability */
  background-color: #333;
  color: white;
}

header {
  padding: 10px;
  text-align: center;
  font-size: 35px;
  color: white;
}

.header-home a{
    color: white;
    text-decoration: none;

}

.tight-list {
  text-align: left;
  line-height: 1.1;
  text-indent: 0px;
}

.container {
  display: flex;
}


ul {
    padding: 0;
    margin: 0;
    color: white;
    list-style-type: none;  /* Removes the bullets from the list */
}

li {
    margin-bottom: 3em; /* Add some spacing between list items */
    /*line-height: 0.5;*/
}


.white-link {
    width: 100%;
    max-width: 800px;
    text-align: left;
}

.white-link a {
  color: white;
  text-decoration: underline;
}

.white-link a:hover {
  text-decoration: none;
}


a {
  color: white;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.centered {
    text-align: center;  /* Keep the title centered */
    display: flex;
    flex-direction: column;
    align-items: center;  /* Center the title and separator */
}


.content {
  max-width: 100ch;
  margin: 0 auto;
}

.tight-table {
  width: 1000px;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 0 auto;         /* Center horizontally */
  display: table;         /* Use block table for margin auto to work */
  margin-bottom: 1em;
}

.tight-table th,
.tight-table td {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}


pre {
    padding: 1em;
    border-radius: 4px;
    overflow-x: auto;
    white-space: pre-wrap; /* wrap long lines instead of overflowing */
    tab-size: 4; /* or 2 if you prefer */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
    font-family: monospace;
}

th, td {
    border: 1px solid #999;
    padding: 0.5em;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
}

th {
    background-color: #444;
    color: white;
}

tr:nth-child(even) {
    background-color: #2a2a2a;
}

/* Style the footer */
footer {
  padding: 10px;
  text-align: center;
  color: white;
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}